Flow-Gs.2-IoT.json
[
    {
        "id": "143751535a5acb1d",
        "type": "tab",
        "label": "Fluxo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ea7db6e847f48b9",
        "type": "mqtt in",
        "z": "143751535a5acb1d",
        "name": "Distance MQTT",
        "topic": "globalsolution2/iot/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41b5acf82c98c5bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "888e8d0ab5429021"
            ]
        ]
    },
    {
        "id": "888e8d0ab5429021",
        "type": "function",
        "z": "143751535a5acb1d",
        "name": "Function Generate",
        "func": "msg.payload = Math.floor(Math.random() * 401);\nif (msg.payload <= 100){\n    msg.status = \"Grave\";\n} else if (msg.payload <= 200){\n     msg.status = \"Moderado\";\n} else {\n     msg.status = \"Controlado\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "3d743f400eb6bb9c",
                "59c4ee39575dfc85",
                "313286152dc8cc80"
            ]
        ]
    },
    {
        "id": "fb346d7f0acae8eb",
        "type": "mqtt out",
        "z": "143751535a5acb1d",
        "name": "Distance MQTT",
        "topic": "globalsolution2/iot/distance",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41b5acf82c98c5bd",
        "x": 1120,
        "y": 400,
        "wires": []
    },
    {
        "id": "3d743f400eb6bb9c",
        "type": "debug",
        "z": "143751535a5acb1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "59c4ee39575dfc85",
        "type": "ui_text",
        "z": "143751535a5acb1d",
        "group": "aa831c20e07025f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado do Paciente",
        "format": "{{msg.status}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "22",
        "color": "#8f0000",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "313286152dc8cc80",
        "type": "delay",
        "z": "143751535a5acb1d",
        "name": "",
        "pauseType": "delay",
        "timeout": "10000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "fb346d7f0acae8eb",
                "3d743f400eb6bb9c",
                "59c4ee39575dfc85"
            ]
        ]
    },
    {
        "id": "41b5acf82c98c5bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa831c20e07025f6",
        "type": "ui_group",
        "name": "Monitoramento Automatizado ",
        "tab": "aa20d0909d9f3609",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa20d0909d9f3609",
        "type": "ui_tab",
        "name": "Painel",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]